#language-options {
    position: absolute;
    top: 30px;
    right: -40%;
    display: none;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 7rem;
}

#language-options button {
    display: flex;
    background: none;
    padding: 10px 14px;
    width: 100%;
    text-align: left;
    align-items: center;
    cursor: pointer;
    color: grey;
    border: none;
    border-radius: 6px;
}

#language-options button:hover {
    background-color: color-mix(in srgb, #f0f0f0 90%, black);
}