#translate-container {
    position: fixed;
    bottom: 0px;
    left: 30%;
    z-index: 1000;
}

#translate-btn {
    background-color: #303030;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#translate-btn:hover {
    background-color: #101010;
}

#language-options {
    position: fixed;
    bottom: 0px;
    left: 35%;
    display: none;
    background-color: #303030;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    z-index: 1000;
}

#language-options button {
    background: none;
    padding: 8px 12px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    color: white;
    border: none
}

#language-options button:hover {
    background-color: #101010;
}