:root {
    --primary-color: #f2b33d;
    --primary-deep-color: #d49725;
    --border-radius: 8px;
    --spacing-sm: 15px;
    --spacing-md: 25px;
    --spacing-lg: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

/* Typography */
h1 {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: var(--spacing-lg);
    font-family: 'Poppins', serif;
    font-weight: 600;
}

p {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

/* Button Styling */
.taiwan-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    min-width: 120px;
}

.taiwan-btn:hover {
    background-color: var(--primary-deep-color);
    transform: translateY(-1px);
    box-shadow: 0 4px 6px rgba(97, 47, 255, 0.1);
}

.taiwan-btn:disabled {
    background-color: #a8a8a8;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}

/* Links */
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#hero-section {
    position: absolute;
    top: 0%;
    height: 1500px;
    width: 100%;
    background-image: url('assets/taiwan-courses-bg.png');
    background-size: cover;
    background-position: center -60px;
}

.hero-text {
    text-align: center;
    z-index: 2;
    position: relative;
    padding-top: 300px;
    padding-left: 20px;
    padding-right: 20px;
    justify-items: center;
}

.hero-text h1 {
    font-size: 50px;
    font-weight: 700;
    color: black;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}

.hero-text .highlight {
    color: #F2AE14;
}

.hero-text p {
    font-size: 20px;
    font-weight: 400;
    color: black;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    width: 69%;
}

.content-wrapper {
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.rounded-container {
    border-radius: 20px;
    background-color: white;
    max-width: 1659px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 130px;
    padding-right: 130px;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .course-tour-wrapper {
        margin-top: 0;
    }

    .hero-text {
        padding-top: 180px;
    }

    .hero-text h1 {
        font-size: 32px;
        line-height: 1.3;
    }

    .hero-text p {
        font-size: 16px;
    }

    .tour-content-intro {
        padding-left: 20px;
        padding-right: 20px;
    }

}